.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

textarea {
  font-size: 12pt;
}

.schema, .query, .explanation {
  margin: 15px;
}
.text {
  border: 1px solid gray;
}

.submit {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-bottom: 2.5rem;
    font-family: Arial;
    font-size: 18px;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
  }
  .errors {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    height: 32px;
  }
  
  #graph {
    display: block;
    border: 1px solid lightblue;
    height: 400px;
    margin: 20px;
  }

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  .schema, .query, .explanation {
    margin: 0px;
  }
}